.author-item {
    width: 300px;
    height: 150px;
    position: relative;
    box-shadow: 0 .150rem .80rem rgba(0,0,0,.075);
    margin: 10px;
    border-radius: 3px;
    float: left
}

.author-title {
    left: 25px;
    top: 25px;
    position: absolute
}

.author-title a{
    font-size: 17px;
    line-height: 17px;
    word-break: break-all;
    text-decoration: none;
    outline: 0
}

.author-link {
    right: 0;
    bottom: 0;
    padding: 15px 15px;
    position: absolute;
    text-align: center
}

.author-link-text {
    font-size: 10px;
    line-height: 15px;
    word-wrap:break-word;  
    word-break:break-all;
    overflow: hidden
}

.author-link-ico {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.author-detail
{
    left: 25px;
    top: 65px;
    position: absolute
}
.author-detail-text {
    font-size: 15px;
    line-height: 15px;
    word-wrap:break-word;  
    word-break:break-all;
    overflow: hidden
}